

body.mapFullPage{
	overflow:hidden;
}

#wrapper{
	margin-top:51px;
	height:100%;
	width:100%;
	background:#dddddd;
	position:absolute;
	
	}
#layerGroupContainer{
	position:absolute;
	height:100%;
	width:275px;
	right:18px;
	
	
	
}
#rowing{
	height:100%;
}
#container{
	margin: 0 auto;
	height:100%;
	width:100%;
	
}
#map{
	height:calc(100% - 50px);
	width:calc(100% + 30px);
	margin-left:-15px;
}

 .clicked{
       background-color:#000000;
       border-style:outset;
       border-color:#707373;
}
.list-group-item{
	opacity:.8;
	z-index:4;
	
}

.searchContainer{
	position:absolute;
	bottom:10px;
	height:250px;
	width:300px;
	z-index:4;
	left:20px;
	background:#eeeeee;
	opacity:.9;
	display:none;
	border-radius:5px;
	t


}






