
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

body.mapFullPage{
	overflow:hidden;
}

#wrapper{
	margin-top:51px;
	height:calc(100% - 51px);
	width:100%;
	background:#dddddd;
	position:absolute;
	
	}
#layerGroupContainer{
	position:absolute;
	height:100% ;
	width:275px;
	right:18px;
}
#rowing{
	height:100%;
}
#container{
	margin: 0 auto;
	height:100%;
	width:100%;
	
}
#map{
	height:100%;
	width:calc(100% + 30px);
	margin-left:-15px;
}


.list-group-item{
	opacity:.8;
	z-index:4;
	
}

.searchContainer{
	position:absolute;
	bottom:10px;
	height:250px;
	width:300px;
	z-index:4;
	left:20px;
	background:#eeeeee;
	opacity:.9;
	display:none;
	border-radius:4px;
	
}


#settingsTab{
	margin-right:20px;
}
.divider{
	padding:15px;
}
#settingsList{
	min-height:100px;
	width:150px;
	position:absolute;
	float:right;
	background:#eeeeee;
	z-index:10;
	position: relative;
	margin-top:50px;
	margin-right:18px;
	box-shadow: 3px 3px 1px #000000;
	border:2px solid;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	display:none;
	cursor:pointer;
}
#sataliteListItem{
	margin-top:-10px;
}

.baseMapListItem{
	padding-left:30px;
}
.baseMapItemClicked{
	       background-color:#cccccc;
		  color:#999;
}



