.x-glyph{
	float:right;
	margin-top:2px;
}
.toggle-checkbox{
	float:right;
	padding-right:5px;
	padding-bottom:5px;
}
.layerItem{
	box-shadow: 3px 3px 1px #222222;
	
}

.myNeighborhoodTable
{
padding:6px;
}
#addLayerUL{
	background-color: #cccccc;
}
.folder{
		box-shadow: 3px 3px 1px #111111;
}
#folderList{
	margin-top:-35px;
	
}
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

body.mapFullPage{
	overflow:hidden;
}
body{
	height:100%;
}
#wrapper{
	margin-top:51px;
	height:calc(100% - 51px);
	width:100%;
	background:#dddddd;
	position:absolute;
	
	}
	
#allLayersLabel{
	height:210px;
	width:175px;
	margin-top:-25px;
	font-size:14px;
	posistion:absolute;
	z-index:90;
	
}

#foldersContentWrapper{
	top:67px;
	width:0px;
	height:700px;
	right:530px;
	
	position:absolute;
}

#foldersContent{
	width:275px;
	
	font-size:14px;
	posistion:absolute;
	z-index:91;
	
	
}



#layerGroupContainer{
	height:275px;
	position:absolute;
	
	width:258px;
	right:15px;
	z-index:91;
}
#rowing{
	height:100%;
}
#container{
	margin: 0 auto;
	height:100%;
	width:100%;
	
}
#map{
	height:100%;
	width:calc(100% + 30px);
	margin-left:-15px;
}


.list-group-item{
	z-index:4;
	
}
.folderContent{
}
.searchContainer{
	position:absolute;
	right:18px;
	height:275px;
	width:300px;
	z-index:4;
	
	background:#eeeeee;
	opacity:.9;
	display:none;
	border-radius:4px;
	
}
#settingsTab{
	cursor: pointer;
}

.divider{
	padding:10px;
}
#settingsList{
	min-height:100px;
	width:150px;
	position:absolute;
	float:right;
	background:#eeeeee;
	z-index:92;
	position: relative;
	margin-top:50px;
	margin-right:18px;
	box-shadow:1px:1px:1px;
	display:none;
	cursor:pointer;
}
#sataliteListItem{
	margin-top:-10px;
}

.baseMapListItem{
	padding-left:30px;
}
.baseMapItemClicked{
	      background-color:#cccccc;
		  color:#999;
}
.my-btn{
	font-weight:bold;
	font-size:18px;
	padding:3px;
	width:258px;
	background-color:#cccccc;
	
}
#legendsHeader{
	
	cursor:pointer;
}
#legendsWrapper{
	
	right:15px;
	width:258px;
	position:absolute;

	
	margin-top:307px;
	
	min-height:calc(100% - 350px);
	
	
}
#legendsBox{
	z-index:90;
	
	min-height: 25px;
	width:258px;
	background-color:#ffffff;
	position:absolute;
	text-align:left;
	font-size:15px;
	border-radius:4px;
	opacity:.9;
	max-height:100%;
	overflow:auto;
}
#legends{
			z-index:90;
	
	background:#ffffff;
	border:1px;
	border-width:1px;
	border-radius:4px;
	opacity:.9;
	padding-left:5px;
	max-height:100%;
	width:205px;
	
	}
.legend{
	z-index:90;
	border-bottom-style:solid;
	border-bottom-color:grey;
	border-width:2px;
	padding-top:2px;
	width:230px;
}
#layerSearch{
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	
	z-index:93;
	width:130px;
}
#layerSearchButton{
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	
}


.form-group{
	position:relative;
	left:10px;
}


.modal-content{
	position:absolute;
	height:60%;
	width:50%;
	max-width:50%;
	max-height:775px;
}

#modalContent{
height: 75%;
width: 50%;
max-width:700px;
margin-left: 25%;
margin-top: 50px;	
}

.modal-body{
	overflow:auto;
	height:calc(100% - 100px);

}

#neighborhoodLI {
 border-radius:50px;	
}

#myNeighborhood{
	overflow:hidden
}

#home-screen{
	width:100%;
	
}

.home-wrapper{
	postition:relative;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:40%;
	margin-top:5%;
	background-color:#cccccc;
	
}



#alaska-map {
	height:200px;
	width:200px;
}

#header-pic{
	height:90px;
	width:90px;
	postition:relative;
	margin-top:30px;
	margin-left:400px;
}

h1{
	position:absolute;
	margin-left:500px;
	margin-top:40px;
}

h2{
	position:absolute;
	margin-left:500px;
	margin-top:70px;
	font-size:36px;
}


.nav-container{
	position:absolute;
	width:1000px;
	margin-left:800px;
	margin-top: 60px;
	
}

a{
	color:black;
}




