#wrapper{
	margin-top:51px;
	height:100%;
	width:100%;
	background:#dddddd;
	position:absolute;
}
#sidebar{
	background:#eeeeee;
	height:100%;
	width:300px;
	
}
#rowing{
	height:100%;
}
#container{
	height:100%;
	width:100%;
}
#map{
	height:100%;
}

 .clicked{
       background-color:#000000;
       border-style:outset;
       border-color:#707373;
}